[submodule "[MatlabFunctional]"]
	path = [MatlabFunctional]
	url = https://github.com/KySpace/MatlabFunctional
[submodule "[VisualHelpers]"]
	path = [VisualHelpers]
	url = https://github.com/KySpace/VisualHelpers
[submodule "[TestRunner]"]
	path = [TestRunner]
	url = https://github.com/KySpace/TestRunner
